.fade-in {
  animation: fade-in 2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  -webkit-animation: fade-in 2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.rtl-closeButton {
  position: absolute;
  padding-bottom: 2px;
  font-size: 1.5rem;
  color: #fff;
  margin-right: 10px;
  right: 0 !important;
  z-index: 99;
}

.rtl-closeButton:active,
.rtl-closeButton:focus {
  border-color: transparent;
  box-shadow: none;
}

.news-titles {
  position: relative;
  display: flex;
  justify-content: center;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: tickerMoveHorizontal;
  animation-duration: 75s;
  animation-delay: 6s;
  font-size: 17px;
  line-height: 23.8px;
  color: #fff;
  transform: translateX(50%);
  -webkit-transform: translateX(50%);
  -moz-transform: translateX(50%);
  -ms-transform: translateX(50%);
  -o-transform: translateX(50%);
}

.news-titles:hover {
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -ms-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused;
}

.news-title {
  width: 100%;
  white-space: nowrap;
  margin-right: 50px !important;
}

.news-title a,
.news-title a:hover,
.news-title a:link,
.news-title a:visited,
.news-title a:active {
  color: inherit;
  box-shadow: none;
  border: none;
  text-decoration: none;
}

.news-title::before,
.news-title::after {
  content: "+++";
  font-weight: 700;
}

.rtl-sticky {
  position: relative;
  display: flex;
  overflow: hidden;
  background-color: #ff8a00;
  padding: 8px 25px;
  position: fixed;
  top: 80px;
  left: 0;
  width: 100%;
  z-index: 999;
}

.rtl-sticky::before {
  position: fixed;
  right: 0;
  content: "";
  width: 13%;
  padding: 20px;
  background-color: inherit;
  z-index: 9;
}

.rtl-sticky::after {
  position: fixed;
  left: 0;
  content: "";
  width: 13%;
  padding: 20px;
  background-color: inherit;
  z-index: 9;
}

/* All mediaQuery */
@media only screen and (max-width: 1820px) {
  .rtl-sticky::before {
    width: 10%;
  }

  .rtl-sticky::after {
    width: 10%;
  }
}

@media only screen and (max-width: 1620px) {
  .rtl-sticky::before {
    width: 7%;
  }

  .rtl-sticky::after {
    width: 7%;
  }
}

@media only screen and (max-width: 1520px) {
  .rtl-sticky::before {
    width: 5%;
  }

  .rtl-sticky::after {
    width: 5%;
  }
}

@media only screen and (max-width: 1440px) {
  .rtl-sticky::before {
    width: 4%;
  }

  .rtl-sticky::after {
    width: 4%;
  }
}

@media only screen and (max-width: 767px) {
  .rtl-sticky {
    top: 48px;
  }

  .rtl-sticky::before {
    width: 7%;
  }

  .rtl-sticky::after {
    width: 7%;
  }
}

@media only screen and (max-width: 615px) {
  .rtl-sticky {
    height: 50px;
    padding-left: 19px;
    padding-right: 19px;
  }

  .rtl-closeButton {
    display: none;
  }

  .news-titles {
    justify-content: flex-end !important;
    align-items: center;
    height: auto;
    flex-direction: column;
    flex-wrap: wrap;
    animation-name: tickerMoveVertical;
    margin-left: 0 !important;
    font-size: 15px;
    margin-top: 23rem;
  }

  .rtl-sticky::before,
  .rtl-sticky::after {
    all: unset;
  }

  .news-title {
    line-height: 25px;
    white-space: normal;
    margin-bottom: 25px !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
}

/* All Animations */
@keyframes tickerMoveHorizontal {
  0% {
    -webkit-transform: translate3d(50%, 0, 0);
    transform: translate3d(50%, 0, 0);
    visibility: visible;
    -moz-transform: translate3d(50%, 0, 0);
    -ms-transform: translate3d(50%, 0, 0);
    -o-transform: translate3d(50%, 0, 0);
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
  }
}

@keyframes tickerMoveVertical {
  0% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }

  100% {
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
