.fade-in {
  animation: fade-in 2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  -webkit-animation: fade-in 2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.rtl-closeButton {
  padding-bottom: 2px;
  height: 24px;
  width: 24px;
  font-size: 1.5rem;
  color: #fff;
}

.rtl-closeButton:active,
.rtl-closeButton:focus {
  border-color: transparent;
  box-shadow: none;
}

.news-titles {
  font-size: 17px;
  line-height: 23.8px;
  color: #fff;
  flex: 0 0 100%;
  animation: tic-v 10s cubic-bezier(1, 0, 0.5, 0) infinite;
  -webkit-animation: tic-v 10s cubic-bezier(1, 0, 0.5, 0) infinite;
}

.news-title {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  width: 78%;
  margin: 0 auto;
}

.news-title template li {
  display: flex;
  width: 100%;
  line-height: 30px;
  align-items: center;
  white-space: nowrap;
  padding-left: 20px;
}

.news-title template li a {
  color: #212529;
  font-weight: bold;
}

.news-title:hover {
  animation-play-state: paused;
}

.rtl-sticky {
  height: 36px;
  overflow: hidden;
  background-color: #ff8a00;
  padding: 8px 25px;
  position: fixed;
  top: 80px;
  left: 0;
  width: 100%;
  z-index: 99;
}

@media only screen and (max-width: 1440px) {
  .news-title {
    width: 90%;
  }
}

@media only screen and (max-width: 1267px) {
  .news-titles {
    font-size: 15px;
  }
}

@media only screen and (max-width: 767px) {
  .news-title {
    width: 95%;
  }

  .rtl-sticky {
    top: 48px;
  }
}

@media only screen and (max-width: 600px) {
  .news-title {
    width: 100%;
  }
}

@media only screen and (max-width: 615px) {
  .rtl-closeButton {
    display: none;
  }
}

@keyframes tic-v {
  0% {
    margin-top: 0;
  }
  20% {
    margin-top: -30px;
  }
  40% {
    margin-top: -60px;
  }
  60% {
    margin-top: -90px;
  }
  80% {
    margin-top: -120px;
  }
  100% {
    margin-top: 0;
  }
}
