.fade-in {
  animation: fade-in 2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  -webkit-animation: fade-in 2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.news-title lightning-formatted-rich-text {
  display: inline-block !important;
}

.rtl-closeButton {
  position: absolute;
  font-size: 1.5rem;
  color: #fff;
  top: 8px;
  margin-right: 10px;
  right: 0 !important;
  z-index: 9;
}

.close-icon {
  --sds-c-icon-color-foreground-default: #fff;
}

.rtl-closeButton:active,
.rtl-closeButton:focus {
  border-color: transparent;
  box-shadow: none;
}

.ticker-wrapper {
  position: fixed;
  overflow: hidden;
  background-color: #ff8a00;
  padding: 8px 50px;
  top: 84px;
  left: 0;
  width: 100%;
  z-index: 4;
}

.ticker-container {
  max-width: 1440px;
  background-color: inherit;
  margin: 0 auto;
  font-size: 17px;
  line-height: 23.8px;
}

.row-custom {
  display: flex;
}

.marquee {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.marquee__items {
  padding: 1px;
  display: inline-block;
  will-change: transform;
  animation-name: marquee;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 70s;
  animation-delay: 5s;
}

.marquee__items div {
  color: #fff;
  cursor: pointer;
  display: inline;
  margin-right: 50px;
}

.marquee__items div::before,
.marquee__items div::after {
  display: inline-block;
  content: "+++";
  font-weight: 700;
  margin-right: 8px;
}

.marquee__items div::after {
  margin-right: 0;
  margin-left: 8px;
}

.marquee__items:hover {
  animation-play-state: paused;
}

.marquee__items:first-child {
  padding-left: 50%;
}

@media only screen and (max-width: 1520px) {
  .close-icon {
    --lwc-squareIconSmallBoundary: 1.3rem;
  }
}

@media only screen and (max-width: 767px) {
  .ticker-wrapper {
    top: 48px;
  }

  .ticker-wrapper {
    padding-left: 25px;
    padding-right: 25px;
  }

  .rtl-closeButton {
    margin-right: 0;
  }
}

/*Animation */
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
